<div class="panel panel-primary" id="result_panel">
    <div class="panel-heading">
        <input (keyup)="onKey($event)" placeholder="Suche..." class="w-90 m-2">
        <button (click)="search()" class="btn btn-primary btn-small" label="search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>
        <button (click)="refresh()" class="btn btn-primary m-1 btn-small" label="reload">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                <path
                    d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
            </svg>
        </button>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li *ngFor="let entry of list" class="list-group-item d-flex justify-content-between">
                <button type="button" (click)="itemDetailsEvent(entry)"
                    class="btn btn-primary text-black w-100 d-flex justify-content-start">
                    <div [innerHTML]="icon" *ngIf="iconName !== undefined" class="d-inline-flex"></div>
                    <strong class="d-inline-flex"> {{entry.text}} </strong>
                </button>
            </li>
        </ul>
        <button *ngIf="showBtn1" (click)="onPress1()" class="btn btn-primary mx-auto m-2 w-100">{{buttonTitle}}</button>
        <button *ngIf="showBtn2" class="btn btn-primary mx-auto m-2 w-100"
            (click)="onPress2()">{{buttonTitle2}}</button>
    </div>
</div>