<div class="panel panel-primary" id="result_panel">
    <div class="panel-heading">
        <input class="w-90 m-2" label="hello">
        <button class="btn btn-primary" label="search">S</button>
        <button class="btn btn-primary m-1" label="filter">F</button>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
            <li class="list-group-item"><strong>Max Mustermann </strong>| mehr...</li>
        </ul>
        <button class="btn btn-primary w-100">Neuer Mitarbeiter</button>
    </div>
</div>