.list-group {
    max-height: 600px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

}

.list-group-item {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn {
    color: white;
}

.btn-small {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #9c4eff !important;
    width: 10%;
}