<h1>Schichtplan</h1>
<hr>

<div class="d-flex flex-row">
    <div class="row gx-2">

        <div class="col">
            <select [ngModel]="selectedYear" (ngModelChange)="onChange($event)" class="browser-default custom-select">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
        </div>

        <div class="col">
            <select [ngModel]="selectedWeek" (ngModelChange)="onChangeWeek($event)"
                class="browser-default custom-select">
                <option *ngFor="let cw of calenderWeeks" [value]="cw">{{cw}}</option>
            </select>
        </div>

        <div class="col">
            <button (click)="changeWeek()" class="btn-primary">Filtern</button>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Mitarbeiter</th>
            <th scope="col">Montag</th>
            <th scope="col">Dienstag</th>
            <th scope="col">Mittwoch</th>
            <th scope="col">Donnerstag</th>
            <th scope="col">Freitag</th>
            <th scope="col">Samstag</th>
            <th scope="col">Aktion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of currentWeekShift.entries; let i = index">
            <th scope="row">{{entry.employeeId}}</th>
            <td [ngClass]="{
        'bg-success': entry.monday.shift == 'first',
        'bg-info': entry.monday.shift == 'second' }">
                [{{ (entry.monday.shift).substring(0,1).toUpperCase() }}]
                R.ID:
                {{ (entry.monday.routeIdRoute) }}
                {{ (entry.monday.status) }}
            </td>

            <td [ngClass]="{
        'bg-success': entry.tuesday.shift == 'first',
        'bg-info': entry.tuesday.shift == 'second' }">
                [{{ (entry.tuesday.shift).substring(0,1).toUpperCase() }}]
                R.ID:
                {{ (entry.tuesday.routeIdRoute) }}
                {{ (entry.tuesday.status) }}
            </td>

            <td [ngClass]="{
        'bg-success': entry.wednesday.shift == 'first',
        'bg-info': entry.wednesday.shift == 'second' }">
                [{{ (entry.wednesday.shift).substring(0,1).toUpperCase() }}]
                R.ID:
                {{ (entry.wednesday.routeIdRoute) }}
                {{ (entry.wednesday.status) }}
            </td>

            <td [ngClass]="{
        'bg-success': entry.thursday.shift == 'first',
        'bg-info': entry.thursday.shift == 'second' }">
                [{{ (entry.thursday.shift).substring(0,1).toUpperCase() }}]
                R.ID:
                {{ (entry.thursday.routeIdRoute) }}
                {{ (entry.thursday.status) }}
            </td>

            <td [ngClass]="{
        'bg-success': entry.friday.shift == 'first',
        'bg-info': entry.friday.shift == 'second' }">
                [{{ (entry.friday.shift).substring(0,1).toUpperCase() }}]
                R.ID:
                {{ (entry.friday.routeIdRoute) }}
                {{ (entry.friday.status) }}
            </td>

            <td [ngClass]="{
        'bg-success': entry.saturday.shift == 'first',
        'bg-info': entry.saturday.shift == 'second' }">
                [{{ (entry.saturday.shift).substring(0,1).toUpperCase() }}]
                R.ID:
                {{ (entry.saturday.routeIdRoute) }}
                {{ (entry.saturday.status) }}
            </td>

            <td class="overflow-hidden">
                <div ngbDropdown container="body">
                    <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>

                    </button>
                    <div ngbDropdownMenu>
                        <button (click)="changeEntry(i)" ngbDropdownItem>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                            ändern
                        </button>
                        <div class="dropdown-divider"></div>
                        <button (click)="deleteEntry(i)" ngbDropdownItem>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                            löschen
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>