<form [formGroup]="deliveryForm" class="w-100 p-2">
    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="trackingnumber">Sendungsnummer</label>
                <input value={{delivery.packageid}} formControlName="packageid" type="text" class="form-control"
                    id="trackingnumber" placeholder="12345">
            </div>
            <div class="col-sm">
                <label for="id">Id</label>
                <input value={{delivery.iddelivery}} formControlName="iddelivery" type="text" class="form-control"
                    id="id" placeholder="69">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <h3>Empfänger</h3>
            <div class="col-sm">
                <label for="receiveraddr">Straße</label>
                <input value={{delivery.dstAddress.streetname}} formControlName="dstAddressstreetname" type="text"
                    class="form-control" id="receveraddr" placeholder="Musterstraße">
            </div>
            <div class="col-sm">
                <label for="receiveraddr">Straßennummer</label>
                <input value={{delivery.dstAddress.streetnumber}} formControlName="dstAddressstreetnumber" type="text"
                    class="form-control" id="streetnumber" placeholder="69">
            </div>
            <div class="col-sm">
                <label for="receiverplz">Postleitzahl</label>
                <input value={{delivery.dstAddress.zipcode}} formControlName="dstAddresszipcode" type="text"
                    class="form-control" id="plz" placeholder="79336">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="dstAddresscity">Stadt</label>
                <input value={{delivery.dstAddress.city}} formControlName="dstAddresscity" type="text"
                    class="form-control" id="dstAddresscity" placeholder="Freiburg">
            </div>
            <div class="col-sm">
                <label for="dstAddresscountry">Land</label>
                <input value={{delivery.dstAddress.country}} formControlName="dstAddresscountry" type="text"
                    class="form-control" id="dstAddresscountry" placeholder="Freiburg">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <h3>Absender</h3>
            <div class="col-sm">
                <label for="senderaddr">Straße</label>
                <input value={{delivery.srcAddress.streetname}} formControlName="srcAddressstreetname" type="text"
                    class="form-control" id="senderaddr" placeholder="Musterstraße">
            </div>
            <div class="col-sm">
                <label for="receiveraddr">Straßennummer</label>
                <input value={{delivery.srcAddress.streetnumber}} formControlName="srcAddressstreetnumber" type="text"
                    class="form-control" id="streetnumber" placeholder="69">
            </div>
            <div class="col-sm">
                <label for="senderplz">Postleitzahl</label>
                <input value={{delivery.srcAddress.zipcode}} type="text" formControlName="srcAddresszipcode"
                    class="form-control" id="senderplz" placeholder="79365">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="srcAddresscity">Stadt</label>
                <input value={{delivery.srcAddress.city}} formControlName="srcAddresscity" type="text"
                    class="form-control" id="srcAddresscity" placeholder="Freiburg">
            </div>
            <div class="col-sm">
                <label for="srcAddresscountry">Land</label>
                <input value={{delivery.srcAddress.country}} formControlName="srcAddresscountry" type="text"
                    class="form-control" id="srcAddresscountry" placeholder="Freiburg">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <h3>Paketdetails</h3>
            <div class="col-sm">
                <label for="size">Länge</label>
                <input value={{delivery.depth}} formControlName="depth" type="text" class="form-control" id="size"
                    placeholder="10">
                <label for="size">Breite</label>
                <input value={{delivery.width}} formControlName="width" type="text" class="form-control" id="size"
                    placeholder="10">
                <label for="size">Höhe</label>
                <input value={{delivery.height}} formControlName="height" type="text" class="form-control" id="size"
                    placeholder="100">
            </div>
            <div class="col-sm">
                <label for="weight">Gewicht</label>
                <input value={{delivery.weight}} formControlName="weight" type="text" class="form-control" id="weight"
                    placeholder="5kg">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary m-3 w-10">QR-Code ausdrucken</button>
        <button class="btn btn-primary m-3 w-10">Abbrechen</button>
        <button type="submit" class="btn btn-primary m-3 w-10">Speichern</button>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="pickup">Ist Abholung</label>
                <input value={{delivery.isPickup}} formControlName="isPickup" type="text" class="form-control"
                    id="pickup" placeholder="Ja">
            </div>
            <div class="col-sm">
                <label for="pickuptime">Abholzeitpunkt</label>
                <div class="col-12">
                    <div class="input-group">
                        <input value={{delivery.pickupDate}} formControlName="pickupDate" class="form-control"
                            placeholder="yyyy-mm-dd" name="dpFrom" ngbDatepicker #d1="ngbDatepicker">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar-date" viewBox="0 0 16 16">
                                <path
                                    d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="currentstate">Aktueller Status</label>
                <input type="text" class="form-control" id="currentstate" placeholder="Zugestellt">
            </div>
            <div class="col-sm">
                <label for="selectstate">Status ändern</label>
                <select value={{delivery.currentState}} formControlName="currentState" class="form-control"
                    id="selectstate">
                    <option>Abgegeben</option>
                    <option>In Basis</option>
                    <option>Verarbeitet</option>
                    <option>Weitertransport</option>
                    <option>In Zustellung</option>
                    <option>Zugestellt</option>
                </select>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary mt-4 w-10">Status ändern</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-primary mt-4 w-10">Rechnung anzeigen</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary mt-4 w-10">Route</button>
            </div>
        </div>
    </div>
</form>