<div class="container">
  <div class="body d-md-flex align-items-center justify-content-between">
    <div class="box-1 mt-md-0 mt-5">
      <img width="50%" height="50%" src="assets/logo_minified.svg" class="trou-logo">
    </div>
    <div class=" box-2 d-flex flex-column h-100">
      <div class="mt-5">
        <p class="trou-text mb-1 h-1">Trouvaille Deliveries</p>
        <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
          <div class="form-outline mb-4">
            <label class="form-label" for="username">Username</label>
            <input type="text" name="username" class="form-control" required ngModel />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="password">Passwort</label>
            <input type="password" name="password" class="form-control" required ngModel />
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary btn-block w-50">Anmelden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>