<app-subnavbar [topTitle]="topTitle" [midTitle]="midTitle" [botTitle]="botTitle">
    <div top class="d-flex flex-row">
        <div class="flex-md-fill border-2 border-primary rounded-0">
            <div class="container-fluid border-2 border-primary rounded-0">
                <app-listview (itemEvent)="itemDetails($event)" [buttonTitle]="buttonTitleNewWorker"
                    [list]="employeeList" [iconName]="iconMitarbeiter">
                </app-listview>
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="container-fluid border-2 border-primary rounded-0 ms-4">
                <app-worker-form id="workerForm" hidden></app-worker-form>
            </div>
        </div>
    </div>

    <div *ngIf="toggleGroup" middle class="d-flex flex-row">
        <div class="container-fluid border-2 border-primary rounded-0">
            <p class="text-center p-2">Mitarbeiter</p>
            <app-listview [buttonTitle]="buttonTitleWorker" [list]="employeeList" [iconName]="iconMitarbeiter">
            </app-listview>
        </div>
        <div class="container-fluid border-2 border-primary rounded-0 ms-4">
            <p class="text-center p-2">Gruppen</p>
            <app-listview [buttonTitle]="buttonTitleGroup" [list]="groupList" [iconName]="iconGroup"></app-listview>
        </div>
    </div>

    <div *ngIf="!toggleGroup">

    </div>

    <p bottom>bottom content</p>
</app-subnavbar>