<app-subnavbar [topTitle]="topTitle" [midTitle]="midTitle" [botTitle]="botTitle">
    <div top class="d-flex flex-row">
        <div class="flex-md-fill border-2 border-primary rounded-0">
            <div class="container-fluid border-2 border-primary rounded-0">
                <app-listview (itemEvent)="itemDetails($event)" (showButton1Value)="showForms($event)"
                    [buttonTitle]="buttonTitleNewWorker" [list]="employeeList" [iconName]="iconMitarbeiter">
                </app-listview>
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="container-fluid border-2 border-primary rounded-0 ms-4">
                <app-worker-form *ngIf="showWorkerForm" id="workerForm"></app-worker-form>
                <app-newemployee-form *ngIf="showNewEmployeeForm"></app-newemployee-form>
            </div>
        </div>
    </div>

    <div *ngIf="toggleGroup" middle class="d-flex flex-row">
        <div class="container-fluid border-2 border-primary rounded-0">
            <p class="text-center p-2">Gruppen</p>
            <app-listview [showBtn1]="false" [buttonTitle]="buttonTitleGroup" [list]="groupList" [iconName]="iconGroup">
            </app-listview>
        </div>
        <div class="container-fluid border-2 border-primary rounded-0 ms-4">
            <p class="text-center p-2">Gruppenname</p>
            <app-listview [buttonTitle]="buttonTitleWorker" [list]="employeeList" [iconName]="iconMitarbeiter">
            </app-listview>
        </div>
    </div>

    <div *ngIf="!toggleGroup">

    </div>

    <p bottom>bottom content</p>
</app-subnavbar>