<h2 class="text-center pt-3">QR-Code auf Paket in Kamera halten</h2>
<scanner></scanner>

<h4 class="text-center pt-3">Alternativ: Sendungsverfolgungsnummer</h4>
<form class="p-2">
    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="trackingnumber">Sendungsnummer</label>
                <input type="text" class="form-control" id="trackingnumber" placeholder="12345">

            </div>
            <div class="col-sm">
                <button class="btn btn-primary m-4" label="search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <button class="btn btn-danger m-3" (click)="closeForm()">Abbrechen</button>
</form>