<form class="w-100 p-2">
    <div class="form-group">
        <h2 class="text-center">Versender</h2>
        <div class="row">
            <div class="col-sm">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="col-sm">
                <label for="vorname">Vorname</label>
                <input type="text" class="form-control" id="vorname" placeholder="Vorname">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="adresse">Lieferadresse</label>
                <input type="text" class="form-control" id="adresse" placeholder="Lieferadresse">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="plz">Postleitzahl</label>
                <input type="text" class="form-control" id="plz" placeholder="PLZ">
            </div>
            <div class="col-sm">
                <label for="ort">Ort</label>
                <input type="text" class="form-control" id="ort" placeholder="Ort">
            </div>
        </div>
    </div>
    <h2 class="text-center pt-3">Empfänger</h2>
    <div class="row">
        <div class="col-sm">
            <label for="recname">Name</label>
            <input type="text" class="form-control" id="recname" placeholder="Name">
        </div>
        <div class="col-sm">
            <label for="recvorname">Vorname</label>
            <input type="text" class="form-control" id="recvorname" placeholder="Vorname">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label for="recadresse">Lieferadresse</label>
            <input type="text" class="form-control" id="recadresse" placeholder="Lieferadresse">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label for="recplz">Postleitzahl</label>
            <input type="text" class="form-control" id="recplz" placeholder="PLZ">
        </div>
        <div class="col-sm">
            <label for="recort">Ort</label>
            <input type="text" class="form-control" id="recort" placeholder="Ort">
        </div>
    </div>

    <h2 class="text-center pt-3">Lieferung</h2>
    <div class="row">
        <div class="col-sm">
            <label for="measure">Abmessungen</label>
            <input type="text" class="form-control" id="measure" placeholder="LxBxH">
        </div>
        <div class="col-sm">
            <label for="weight">Gewicht</label>
            <input type="text" class="form-control" id="weight" placeholder="..in gramm?">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label for="cost">Kosten</label>
            <input type="text" class="form-control" id="cost" placeholder="Lieferadresse">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-danger mt-4 w-10" (click)="closeForm()">Abbrechen</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary mt-4 w-10">Bestätigen</button>
            </div>
        </div>
    </div>
</form>