<app-subnavbar [topTitle]="topTitle">
    <div top class=" d-flex flex-row gray">
        <app-listview (itemEvent)="itemDetails($event)" [showBtn2]="true" [buttonTitle2]="buttonTitle2"
            [buttonTitle]="buttonTitle" [list]="lieferungenList" [iconName]="iconName"
            (showButton2Value)="showScannerFunc($event)" (showButton1Value)="showNeuesPaketFormFunc($event)">
        </app-listview>
        <div class="flex-grow-1">
            <div class="border-2 border-primary rounded-0 ms-4">
                <app-lieferungen-form id="lieferungenForm" (closedForm)="showScannerFunc($event)"
                    (clickedHistoryEvent)="showHistoryForm($event)">
                </app-lieferungen-form>
                <app-qr-form id="qrForm" (showButton2Value)="showScannerFunc($event)" (closeQrForm)="openFirst($event)"
                    (qrSend)="showFormByQR($event)">
                </app-qr-form>
                <app-neues-paket-form id="neuesPaketForm" (closeNewPackageForm)="openFirst($event)"
                    (createdDelivery)="refreshDeliveryList()">
                </app-neues-paket-form>
            </div>
        </div>
    </div>
</app-subnavbar>