<form [formGroup]="employeeForm" class="w-100 p-2">
    <div class="form-group">
        <label for="firstname">Vorname</label>
        <input type="text" class="form-control" formControlName="firstname" placeholder="Max"
            value={{employee.firstname}}>
    </div>

    <div class="form-group">
        <label for="lastname">Nachname</label>
        <input type="text" class="form-control" formControlName="lastname" placeholder="Mustermann"
            value={{employee.lastname}}>
    </div>

    <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" formControlName="email" placeholder="max@mustermail.com"
            value={{employee.email}}>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="phonenumber">Telefonnummer</label>
                <input type="text" class="form-control" formControlName="phonenumber" placeholder="01234567"
                    value={{employee.phonenumber}}>
            </div>
            <div class="col-sm">
                <label for="targetweeklyworkinghours">Wochenarbeitsstunden</label>
                <input type="text" class="form-control" formControlName="targetweeklyworkinghours" placeholder="40"
                    value={{employee.targetweeklyworkinghours}}>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="passwordNew">neues Passwort</label>
                <input type="password" class="form-control" formControlName="passwordNew" placeholder="*********">
            </div>
            <div class="col-sm">
                <label for="passwordAgain">Passwort wiederholen</label>
                <input type="password" class="form-control" formControlName="passwordAgain" placeholder="*********">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="employeeGroup">Gruppe</label>
                <input [readonly]="true" type="text" class="form-control" formControlName="employeeGroup"
                    placeholder="Driver" value="{{employee.group.groupname}}">
            </div>
            <div class="col-sm">
                <label for="birthday">Geburtstag</label>
                <input ng-disabled="all" type="text" class="form-control" formControlName="birthday"
                    placeholder="01.01.2022" value={{employee.birthday}}>
            </div>
        </div>
    </div>

    <div hidden class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="employeeStatus">Status</label>
                <input [readonly]="true" type="text" class="form-control" formControlName="employeeStatus"
                    placeholder="aktiv" value="">
            </div>
        </div>
    </div>

    <div class="form-group">
        <button *ngIf="!employee.isdeleted" (click)="toggleEmployee(true)" id="disableWorker"
            class="btn btn-danger mr-3 mt-3 mb-3">Mitarbeiter deaktiveren</button>
        <button *ngIf="employee.isdeleted" (click)="toggleEmployee(false)" id="activateWorker"
            class="btn btn-warning mr-3 mt-3 mb-3">Mitarbeiter aktivieren</button>
        <div class="float-end">
            <button hidden id="cancle" class="btn btn-danger m-3">Abbrechen</button>
            <button (click)="changeEmployee(employeeForm.value)" type="submit" id="save"
                class="btn btn-primary m-3">Speichern</button>
        </div>
    </div>
</form>