<form class="w-100 p-2">
    <div class="form-group">
        <label for="firstname">Vorname</label>
        <input type="text" class="form-control" id="firstname" placeholder="Max" value={{employee.firstname}}>
    </div>

    <div class="form-group">
        <label for="lastname">Nachname</label>
        <input type="text" class="form-control" id="lastname" placeholder="Mustermann" value={{employee.lastname}}>
    </div>

    <div class="form-group">
        <label for="lastname">E-Mail</label>
        <input type="text" class="form-control" id="lastname" placeholder="Mustermann" value={{employee.email}}>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="phonenumber">Telefonnummer</label>
                <input type="text" class="form-control" id="phonenumber" placeholder="01234567"
                    value={{employee.phonenumber}}>
            </div>
            <div class="col-sm">
                <label for="targetweeklyworkinghours">Wochenarbeitsstunden</label>
                <input type="text" class="form-control" id="targetweeklyworkinghours" placeholder="40"
                    value={{employee.targetweeklyworkinghours}}>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="passwordNew">neues Passwort</label>
                <input type="password" class="form-control" id="passwordNew" placeholder="*********">
            </div>
            <div class="col-sm">
                <label for="passwordAgain">Passwort wiederholen</label>
                <input type="password" class="form-control" id="passwordAgain" placeholder="*********">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="employeeStatus">nicht Aktiv</label>
                <input disabled type="text" class="form-control" id="employeeStatus" placeholder="aktiv" value="">
            </div>
            <div class="col-sm">
                <label for="birthday">Geburtstag</label>
                <input disabled type="text" class="form-control" id="birthday" placeholder="01.01.2022"
                    value={{employee.birthday}}>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="statusSelect">Fahrerstatus</label>
        <select class="form-control" style="width:auto;" id="statusSelect">
            <option>Platzhalter</option>
            <option>Platzhalter2</option>
            <option>Platzhalter3</option>
        </select>
    </div>

    <div class="form-group mb-6">
        <button id="changePw" class="btn btn-primary mr-3 mt-3">Passwort ändern</button>
    </div>

    <div class="form-group">
        <button id="disableWorker" class="btn btn-danger mr-3 mt-3 mb-3">Mitarbeiter deaktiveren</button>
        <div class="float-end">
            <button id="cancle" class="btn btn-danger m-3">Abbrechen</button>
            <button id="save" class="btn btn-primary m-3">Speichern</button>
        </div>
    </div>
</form>