.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #9c4eff !important;
  border-color: #9e56fc !important;
  color: white !important;
  border-radius: 0% !important;
}

.btn-transparent-primary,
.btn-transparent-primary:hover,
.btn-transparent-primary:active,
.btn-transparent-primary:visited {
  color: #9c4eff !important;
  border-radius: 0% !important;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}